.cartModal {
  position: relative;
  margin-top: 90px;
  min-height: calc(100vh - 90px);
}
.cartModal h1 {
  margin-left: 20px;
}

.cart-close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.cart-close:hover {
  transform: scale(1.5);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
}

.cartModal li {
  width: 100%;
}

.checkoutPrompter {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}
.checkoutPrompter h2 {
  margin-right: 20px;
}

.checkoutPrompter button {
  font-size: 1.5rem;
  align-self: center;
  padding: 20px;
  margin-bottom: 20px;
}
.orderList {
  display: flex;
  align-content: center;
  height: 100%;
  flex-direction: column;
}
